.footer-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
}

.footer-container p {
    margin: 0;
    padding: 5px 0;
}

.phone-button {
    display: inline-block;
    margin-buttom: 10px;
    color: white;
    text-decoration: none;
}

.phone-button i {
    margin-right: 10px;
    font-size: 16px;
}