*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: #1A1B21;
  color: #FFFFFF;

}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;

}

.info-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 100%;

}

.headshot-container {

  height: 45vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1A1B21;
  overflow: hidden;
  max-width: 100%;

}

.headshot {
  height: auto;
  width: 100%;
  object-fit: cover;
}

.info {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #1A1B21;

}

.info .name {
  margin: 15px 0 2px 0;
}

.info .job-title {
  margin-top: 0px;
  padding-top: 0px;
  margin-bottom: 0px;
  color: #F3BF99;
  font-weight: 300;
}

.info .website {
  font-weight: 300;
}



.info .email-button {
  margin: 0 30px 0 30px;
  border-radius: 5px;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: #D1D5DB;
  cursor: pointer;
  text-decoration: none;
  color: #1A1B21;
}

.info .email-button:hover {
  background-color: #C0C4CB;
}

.info .website a:hover,
.info .website a:focus {
  text-decoration: underline;
  outline: none;
  border-radius: 0;
  color: #FFFFFF;
}

.info .website a:visited {
  color: #FFFFFF;
}

.info .website a {
  cursor: pointer;
  text-decoration: none;
}

h3 .website {

  margin-top: 18px;
  margin-bottom: 18px;
}





/*Media Queries for Desktop */
@media only screen and (min-width: 768px) {
  .app-container {

    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    overflow: hidden;
  }

  .headshot-container {
    max-width: 100%;
    height: auto;
    justify-content: center;
    background-color: #1A1B21;
  }


  .headshot {
    height: 300px;
    width: 300px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 2px solid #FFF;

  }

  .info-container {
    width: 50%;
    text-align: left;
    align-items: flex-start;
    padding: 30px;
    margin-right: 0;
    margin-bottom: 0px;
    padding-bottom: 0px;
    max-width: 100%;
  }

  .info {
    align-items: flex-start;
    padding-bottom: 0;
    max-width: 100%;
  }


  .about-container {
    flex-direction: column;
    align-items: flex-start;
    /* justify-content: space-between; */
    flex: 1;
    /* padding: 20px; */
    margin-top: 0px;
    padding-top: 0px;
    max-width: 100%;
  }

  .about-container h4 {
    margin: 0;
  }

  .info-container,
  .about-container .headshot-container {
    flex: 1;
    padding: 20px;
  }

  .info .email-button {
    align-self: flex-start;
    margin-left: 0;

  }


  .about-container {
    font-size: 1.2em;
  }

  footer {
    display: flex;
    flex-shrink: 0;
    width: 100%;
    box-sizing: border-box;

  }
}